### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_config.example.yml

### Bundler ###
.bundle/
vendor/bundle/

### Python ###
__pycache__/
venv/
sdss-2025-test.code-workspace

### MacOS ###
.DS_Store

### Other files ###
original_LICENSE.md
original_README.md
screenshot.png