title: SDSS-V Collaboration Meeting
header_title: "SDSS-V Collaboration Meeting 2025"   # Used in the header/navbar
description: >-
  June 2-6 2025, Heidelberg, Germany
baseurl: "/sdss-2025-test" # the subpath of your site, e.g. /blog
url: "https://jvillasr.github.io" # the base hostname & protocol for your site, e.g. https://example.com

# Build settings
markdown: kramdown
sass:
  style: compressed

# Exclude from processing
exclude:
  - .github/
  - venv/
  - README.md
  - LICENSE.md
  - REDISTRIBUTED.md
  - screenshot.png
  - jekyll-theme-conference.gemspec
  - purgecss.config.js
  - _config.example.yml

# Collections and their defaults
collections:
  talks:
    output: true
    permalink: /:collection/:title/
  speakers:
    output: true
    permalink: /:collection/:title/
  rooms:
    output: true
    permalink: /:collection/:title/

defaults:
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
  - scope:
      path: ""
      type: speakers
    values:
      layout: speaker
  - scope:
      path: ""
      type: rooms
    values:
      layout: room

# Theme default values
conference:
  lang: en
  show_errors: true

  link_preview:
    disable: false

  speakers:
    show_firstname: true

  location:
    url: '/location'
    map: true

  program:
    url: '/program'
    time_steps: 15
    show_alltimes: true
    ready: false  # Set to true when the programme is ready

  talks:
    main_categories:
      - MWM
      - BHM
      - LVM

  navigation:
    logo:
      url: "/"
      img: "logo.png"
      name: "My Logo"
    links:
      - name: "Home"
        relative_url: "/"    
      - name: "Programme"
        relative_url: "/program"
      - name: "List of participants"
        relative_url: "/participants"
      - name: "Venue"
        relative_url: "/location"
      - name: "Code of conduct"
        relative_url: "/code-of-conduct"
      - name: "COINS Info"
        relative_url: "/coins-info"
      - name: "Registration"
        relative_url: "/registration"
    breakpoint: lg
