---
layout: default
---

<div class="hero-section">
  <div class="overlay-text">
    <h1 class="display-3 text-break">{{ site.title }}</h1>
    {% if site.description != none %}
      <p class="lead">{{ site.description | markdownify | replace: '<p>', '<p class="lead">' }}</p>
    {% endif %}
  </div>
</div>

{% comment %}
<div class="white-section py-4">
  <div class="container">
    <hr class="my-4">
    {{ content }}
  </div>
</div>

<div class="info-section">
  <div class="container">
    <p>Additional information goes here.</p>
  </div>
</div>
{% endcomment %}

{{ content }}

<div class="soc-loc-section py-4">
  <div class="container">
    <h2 class="text-center mb-4">Organising Committees</h2>
    <div class="row">
      <div class="col-md-6">
        <h3>Scientific Organising Committee (SOC)</h3>
        <ul>
          <li>Emily Griffiths (UCB) - Chair </li>
          <li>Keith Hawkins (UT Austin)</li>
          <li>Jaime Villaseñor (MPIA) - SOC/LOC Liaison</li>
          <li>Johnthan Tan (UVA)</li>
          <li>Andrea Merloni (MPE)</li>
          <li>Patricia Arevalo (UV)</li>
          <li>Zheng Zheng (NAOC)</li>
          <li>Xiang-xiang Xue (NAOC)</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>Local Organising Committee (LOC)</h3>
        <ul>
          <li>Jaime Villaseñor (MPIA)</li>
          <li>Hans-Walter Rix (MPIA)</li>
          <li>Susanne Koltes-Al-Zoubi (MPIA)</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="announcements-section py-4">
  <div class="container">
    <h2 class="text-center mb-4">Announcements</h2>
    <div class="announcements-list">
      {% for announcement in page.announcements %}
        <div class="announcement mb-3">
          <h4 class="announcement-title">{{ announcement.title }}</h4>
          <p class="announcement-date text-muted">{{ announcement.date }}</p>
          <p class="announcement-text">{{ announcement.text | markdownify }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if site.conference.main.links %}
  <div class="lead d-print-none">
    {% assign btn_default = 'btn btn-outline-primary btn-lg mt-2 ml-1' %}
    {% for link in site.conference.main.links %}

      {% if link.menu %}
        <div class="dropdown d-inline">
          <a class="{{ btn_default }} dropdown-toggle" href="#" role="button" id="main-dropdown{{ forloop.index0 }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ link.name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="main-dropdown{{ forloop.index0 }}">
            {% assign parent_link = link %}
            {% for link in parent_link.menu %}
              {% assign link_styleclass = "dropdown-item" %}
              {% include partials/get_link.html %}
              {{ link_tag }}
                {{ link.name }}
              </a>
            {% endfor %}
          </div>
        </div>

      {% elsif link.live %}
        {%- include partials/get_live_timestamps.html -%}

        {%- if link.name -%}
          {%- assign link_name = link.name -%}
        {%- else -%}
          {%- assign link_name =  site.data.lang[site.conference.lang].live.stream | default: "Live Stream" -%}
        {%- endif -%}

        {%- if link.name_inactive -%}
          <span class="live-hide {{ btn_default }} disabled" data-start="{{ live_starts }}" data-end="{{ live_ends }}">
            {{ link.name_inactive }}
          </span>
        {%- endif -%}

        <span class="live-show d-none" data-start="{{ live_starts }}" data-end="{{ live_ends }}">
          {% if site.conference.live.streaming.enable %}
            <a class="{{ btn_default }}" title="{{ link_name }}" data-toggle="modal" data-target="#stream-modal" data-room="" href="#">
          {% else %}
            {% assign link_styleclass = "{{ btn_default }}" %}
            {% include partials/get_link.html %}
            {{ link_tag }}
          {% endif %}

            {{ link_name }}
          </a>
        </span>

      {% else %}
        {% assign link_styleclass = btn_default %}
        {% include partials/get_link.html %}
        {{ link_tag }}
          {{ link.name }}
        </a>
      {% endif %}
    {% endfor %}
    </p>
  {% endif %}

</div>

<div class="footer-section py-4">
  <div class="container text-center">
    <p>
      <!-- <a href="https://www.twitter.com/sdss" target="_blank">X</a> | -->
      <!-- <a href="https://bsky.app/profile/sdssurveys.bsky.social" target="_blank"><i class="fab fa-bluesky"></i></a> | -->
      <!-- <a href="https://bsky.app/profile/sdssurveys.bsky.social" target="_blank" 
      title="Follow us on Bluesky">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" 
          width="15" height="15" aria-hidden="true">
          <path d="M111.8 62.2C170.2 105.9 233 194.7 256 242.4c23-47.6 85.8-136.4 144.2-180.2c42.1-31.6 110.3-56 110.3 21.8c0 15.5-8.9 130.5-14.1 149.2C478.2 298 412 314.6 353.1 304.5c102.9 17.5 129.1 75.5 72.5 133.5c-107.4 110.2-154.3-27.6-166.3-62.9l0 0c-1.7-4.9-2.6-7.8-3.3-7.8s-1.6 3-3.3 7.8l0 0c-12 35.3-59 173.1-166.3 62.9c-56.5-58-30.4-116 72.5-133.5C100 314.6 33.8 298 15.7 233.1C10.4 214.4 1.5 99.4 1.5 83.9c0-77.8 68.2-53.4 110.3-21.8z"/>
        </svg>
      </a> | -->

      <a href="https://bsky.app/profile/sdssurveys.bsky.social" target="_blank" title="Bluesky">
        <svg
          class="icon-svg"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true">
          <path d="M111.8 62.2C170.2 105.9 233 194.7 256 242.4c23-47.6 85.8-136.4 144.2-180.2c42.1-31.6 110.3-56 110.3 21.8c0 15.5-8.9 130.5-14.1 149.2C478.2 298 412 314.6 353.1 304.5c102.9 17.5 129.1 75.5 72.5 133.5c-107.4 110.2-154.3-27.6-166.3-62.9l0 0c-1.7-4.9-2.6-7.8-3.3-7.8s-1.6 3-3.3 7.8l0 0c-12 35.3-59 173.1-166.3 62.9c-56.5-58-30.4-116 72.5-133.5C100 314.6 33.8 298 15.7 233.1C10.4 214.4 1.5 99.4 1.5 83.9c0-77.8 68.2-53.4 110.3-21.8z"/>
        </svg>
      </a>


      <!-- <a href="https://github.com/sdss" target="_blank">GitHub</a> | -->
      <a href="https://github.com/sdss" target="_blank"><i class="fab fa-github"></i></a> |
      <a href="mailto:villasenor@mpia.de" target="_blank"><i class="fa fa-envelope"></i></a>
    </p>
    <p>
      This website has been created by J. Villaseñor using Jekyll (<a href="https://github.com/DigitaleGesellschaft/jekyll-theme-conference" target="_blank">Conference theme</a>).
    </p>
  </div>
</div>

{% include partials/footer.html %}
